allennlp==1.2.2
blingfire==0.1.7
PyYAML==5.4
transformers==3.5.1
pandas==1.1.5
ipykernel==5.5.6

# Special instruction for Torch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0